body {
    background-color: antiquewhite;
}

header>h1 {
text-align: center;
    margin-top: 20px;
}

#customAlert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(250, 235, 215, 0.521);
   
   
}

#box {
    border-radius: 5px;
    margin: 100px auto;
    height: 25vh;
    width: 35%;
    text-align: center;
    background-color: white;
}

.content {
    /* margin-top: 30px; */
    height: 35vh;
}

#confirmbtn {
    position:sticky;
    padding: 1px 10px;
    border-radius: 8px;
    background-color: #339966;
    color: white;
    margin-top:10px;
    margin-left: 90%;
}
#varticalLine{
    height: 25vh;
    width: 3px;
    background-color: black;
}